/* This file will hold styles that are loaded using the same media query as the wide grid. */

h1.title {font-family: "futura-pt-1","futura-pt-2",sans-serif; font-size: 435%;}

ul.inline li {display: inline; padding: 0 0.5em;}

ul.inline .first {padding-left: 0;}

ul.main-menu a:link {font-size: 150%;}

ul#main-menu a {background-color: transparent; display: inline; margin: 0; padding: 0;}

.grid-6 .pane-block-2 {margin: 0;}

.logo-img img {max-width: 100%;}

.pane-block-1 p {font-size: 300%;}

.pane-block-3 img {margin-top: 88px; max-width: 128px;}

.pane-block-3 p {padding: 18px 60px;}

.views-field-title {font-size: 175%;}

/* form overrides */

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {width: 35%;}