/* This file will hold the main styles for your website. */

html {font-size: 100%;}

body {font-family: Helvetica,sans-serif; font-size: 100%;}

.grid-6 {margin-left: 0; margin-right: 0;}

/* site name toggled off in theme settings

h1.site-name, h2.site-name {font-family: "futura-pt-1","futura-pt-2",sans-serif; font-size: 100px; font-style: normal; font-weight: 800; line-height: 60px;}

h1.site-name a, h2.site-name a {color: black; font-size: 100px;}

.char3, .char4, .char5, .char6, .char7, .char8, .char9, .char10, .char11, .char12, .char13, .char14 {letter-spacing: .05em;}

end site name toggled off in theme settings */

h1.title {font-family: 'Open Sans Condensed',Helvetica,sans-serif; font-size: 235%;}

h1.title a {font-size: 100%;}

h2, h3 {font-family: 'Open Sans Condensed',Helvetica,sans-serif;}

a:link, a:visited {text-decoration: none;}

a.play img {opacity: 0.8; filter:alpha(opacity=80); /* For IE8 and earlier */}

a.play:hover img {opacity: 1; filter:alpha(opacity=100); /* For IE8 and earlier */}

img#patrick {border: 10px solid #cccccc; float: right; margin: 0 0 15px 15px; max-width: 45%;}

hr {border-top: 1px solid #EEE; border-bottom: 1px solid white;}

hr.soften {background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent); background: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1), transparent); background: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent); background: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent); border: 0; height: 1px; margin: 24px 0;}​

ul.inline li {display: block; margin-right: 0 !important; padding: 0;}

ul.inline .first {margin-top: 25px}

ul.main-menu a:link, ul.main-menu a:visited {color: #e0e0e0; font-size: 100%; text-decoration: none;}

ul.main-menu a:hover {color: #ffffff;}

ul.main-menu a.active {color: #ffffff;}

ul.primary li a {background-color: #000000;}

ul.primary li.active a {background-color: #cccccc;}

ul#main-menu {display: block; font-family: 'Open Sans Condensed',Helvetica,sans-serif; margin-bottom: 20;}

.btn {display: inline-block;padding: 4px 10px 4px;margin-bottom: 0;font-size: 13px;line-height: 18px;color: #333;text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);vertical-align: middle;background-color: whiteSmoke;background-image: -moz-linear-gradient(top, white, #E6E6E6);background-image: -ms-linear-gradient(top, white, #E6E6E6);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));background-image: -webkit-linear-gradient(top, white, #E6E6E6);background-image: -o-linear-gradient(top, white, #E6E6E6);background-image: linear-gradient(top, white, #E6E6E6);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border-color: #E6E6E6 #E6E6E6 #BFBFBF;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(enabled=false);border: 1px solid #CCC;border-bottom-color: #B3B3B3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);cursor: pointer;}

.btn:hover {color: #333;text-decoration: none;background-color: #E6E6E6;background-position: 0 -15px;-webkit-transition: background-position 0.1s linear;-moz-transition: background-position 0.1s linear;-ms-transition: background-position 0.1s linear;-o-transition: background-position 0.1s linear;transition: background-position 0.1s linear;}

.btn.active, .btn:active {background-image: none;-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);background-color: #E6E6E6;background-color: #D9D9D9 9;outline: 0;}

.btn-large {padding: 9px 14px;font-size: 15px;line-height: normal;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.films-list img {margin-bottom: 20px; max-width: 100%;}

.film-categories {float: left; margin-bottom: 20px;}

.grid-6 .pane-block-2 {margin: 0 10px;}

.logo-img {float: none !important; margin-right: 0;}

.logo-img img {display: block; max-width: 140px; margin-left: auto !important; margin-right: auto !important;}

.node-type-film p {margin: 25px 0;}

.pane-block-1 p {display: block; font-family: 'Sue Ellen Francisco',cursive; font-size: 200%; margin-top: 25px; text-align: center;}

.pane-block-3 img {display: block; margin-left: auto; margin-right: auto; margin-top: 35px; max-width: 128px;}

.pane-block-3 p {padding: 18px 60px;}

.permalink-fix {background: url(http://localhost:8888/drupaldev/sites/all/themes/custom_theme/img/permalink.png) no-repeat 0 0; background-size: 20px 20px; display: inline; padding: 4px 0 5px 26px;}

.view a {color: #9f9f9f; font-size: 100%;}

.view a:hover {color: black; text-decoration: underline;}

.views-field-nid {display: block; position: relative; left: 0; top: 15px;}

.views-field-field-film-tweet {display: block; position: relative; left: 120px; top: -9px;}

.views-field-title {font-size: 135%; font-weight: bold;}

.views-row {border-bottom: 1px solid #cccccc; margin-bottom: 50px; padding-bottom: 1px;}

.views-row-last {margin-bottom: 0;}

#zone-branding-wrapper {background-color: #000000; padding-top: 20px;}

#zone-menu-wrapper {background-color: #000000; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; margin-top: 0; padding-top: 20px;}

/* region footer */

img.social {margin-top: 12px; max-width: 26px;}

img.social-first {position: relative; left: -2px;}

ul.menu {font-family: 'Open Sans Condensed',Helvetica,sans-serif;}

ul.menu li {display: inline; margin: 0; padding: 0; margin: 0 10px;}

ul.menu li.first {margin-left: 0;}

ul.menu li a:link, ul.menu li a:visited {color: #333333; font-size: 100%;}

ul.menu li a:hover {text-decoration: underline;}

ul li.leaf {list-style-image: none; list-style-type: none;}

#zone-footer-wrapper {background-color: #cfcfcf; border-top: 1px solid #bbbbbb; height: 155px; margin-top: 25px; padding-top: 20px;}

/* form overrides */

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {height: 3em; width: 100%;}

/* logged-in overrides */

body.logged-in #secondary-menu, body.logged-in #block-search-form {display: none;}
