/* This file will hold the main styles for your website. */

body {font-family: Helvetica,sans-serif; font-size: 100%;}

.grid-6 {margin-left: 0; margin-right: 0;}

/* site name toggled off in theme settings

h1.site-name, h2.site-name {font-family: "futura-pt-1","futura-pt-2",sans-serif; font-size: 100px; font-style: normal; font-weight: 800; line-height: 60px;}

h1.site-name a, h2.site-name a {color: black; font-size: 100px;}

.char3, .char4, .char5, .char6, .char7, .char8, .char9, .char10, .char11, .char12, .char13, .char14 {letter-spacing: .05em;}

end site name toggled off in theme settings */

h1.title {font-family: "futura-pt-1","futura-pt-2",Helvetica,sans-serif; font-size: 235%;}

h1.title a {font-size: 100%;}

h2 {font-family: "futura-pt-1","futura-pt-2",Helvetica,sans-serif;}

a:link, a:visited {text-decoration: none;}

a.play img {opacity: 0.8; filter:alpha(opacity=80); /* For IE8 and earlier */}

a.play:hover img {opacity: 1; filter:alpha(opacity=100); /* For IE8 and earlier */}

img#patrick {border: 10px solid #cccccc; float: right; margin: 0 0 15px 15px; max-width: 45%;}

hr {border: 0; height: 1px; background: #333; background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0))); background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%); background: -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%); background: -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%); background: -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%); background: linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);}​

ul.inline li {display: block; margin-right: 0 !important; padding: 0;}

ul.inline .first {margin-top: 25px}

ul.main-menu a:link, ul.main-menu a:visited {color: #e0e0e0; font-size: 100%; text-decoration: none;}

ul.main-menu a:hover {color: #ffffff;}

ul.main-menu a.active {color: #ffffff;}

ul.primary li a {background-color: #000000;}

ul.primary li.active a {background-color: #cccccc;}

ul#main-menu {display: block; margin-bottom: 20;}

.films-list img {margin-bottom: 20px; max-width: 100%;}

.film-categories {float: left; margin-bottom: 20px;}

.grid-6 .pane-block-2 {margin: 0 10px;}

.logo-img {float: none !important; margin-right: 0;}

.logo-img img {display: block; max-width: 140px; margin-left: auto !important; margin-right: auto !important;}

.pane-block-1 p {display: block; font-family: "skippy-sharp-1","skippy-sharp-2",Georgia,serif; font-size: 200%; margin-top: 25px; text-align: center;}

.pane-block-3 img {display: block; margin-left: auto; margin-right: auto; margin-top: 35px; max-width: 128px;}

.pane-block-3 p {padding: 18px 60px;}

.permalink-fix {background: url(http://localhost:8888/drupaldev/sites/all/themes/custom_theme/img/permalink.png) no-repeat 0 0; background-size: 20px 20px; display: inline; padding: 4px 0 5px 26px;}

.view a {color: #9f9f9f; font-size: 100%;}

.view a:hover {color: black; text-decoration: underline;}

.views-field-nid {display: block; position: relative; left: 0; top: 15px;}

.views-field-field-film-tweet {display: block; position: relative; left: 120px; top: -9px;}

.views-field-title {font-size: 135%; font-weight: bold;}

.views-row {border-bottom: 1px solid #cccccc; margin-bottom: 50px; padding-bottom: 1px;}

.views-row-last {margin-bottom: 0;}

#zone-branding-wrapper {background-color: #000000; padding-top: 20px;}

#zone-menu-wrapper {background-color: #000000; margin-top: 0; padding-top: 20px;}

/* region footer */

#zone-footer-wrapper {background-color: #cfcfcf; border-top: 1px solid #bbbbbb; height: 155px; margin-top: 25px; padding-top: 20px;}

ul.menu li {display: inline; margin: 0; padding: 0; margin: 0 10px;}

ul.menu li.first {margin-left: 0;}

ul.menu li a:link, ul.menu li a:visited {color: #555555; font-size: 100%;}

ul.menu li a:hover {text-decoration: underline;}

ul li.leaf {list-style-image: none; list-style-type: none;}

/* form overrides */

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {height: 3em; width: 100%;}

/* logged-in overrides */

body.logged-in #secondary-menu, body.logged-in #block-search-form {display: none;}
